ul, li, body {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}


header { 
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(172, 21, 21);
    color: white;
}

.menu {
    display: flex;
}

.menu li {
    border: 1px solid white;
    padding: 5px 8px;
}
